/* Estilos globais para a aplicação */
:root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #213547;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}